/* footer */

#footer {
    padding-top: 10px;
    border-radius: 0;
    background-color: rgb(187, 156, 156);
    margin-bottom: 0;
    width: 100%;
}

#footer p {
    color: #000;
    font-weight: 500;
}

#footer h5 {
    color: #000;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#footer a {
    color: #A80000;
}

#footer a:hover {
    text-decoration: none;
}